.sare-container,
.sare-container-fluid,
.sare-container-xxl,
.sare-container-xl,
.sare-container-lg,
.sare-container-md,
.sare-container-sm {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .sare-container-sm,
    .sare-container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .sare-container-md,
    .sare-container-sm,
    .sare-container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .sare-container-lg,
    .sare-container-md,
    .sare-container-sm,
    .sare-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .sare-container-xl,
    .sare-container-lg,
    .sare-container-md,
    .sare-container-sm,
    .sare-container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .sare-container-xxl,
    .sare-container-xl,
    .sare-container-lg,
    .sare-container-md,
    .sare-container-sm,
    .sare-container {
        max-width: 1320px;
    }
}

.sare-grid {
    margin-right: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.sare-grid.sare-full-grid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.sare-inner-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.sare-grid-left {
    justify-content: flex-start
}

.sare-grid-center {
    justify-content: center
}

.sare-grid-right {
    justify-content: flex-end
}

.sare-grid-between {
    justify-content: space-between
}

.sare-grid-stretch {
    justify-content: stretch
}

.sare-grid-stretch>.sare-grid-col>* {
    height: 100%
}

.sare-grid-vertical-start {
    align-items: flex-start
}

.sare-grid-vertical-end {
    align-items: flex-end
}

.sare-grid-vertical-center {
    align-items: center
}

.sare-grid-nowrap {
    flex-wrap: nowrap
}

.sare-grid.sare-grid-1>.sare-grid-col {
    width: 100%;
    flex: 0 0 100%
}

.sare-grid.sare-grid-2>.sare-grid-col {
    width: 50%;
    flex: 0 0 50%
}

.sare-grid.sare-grid-3>.sare-grid-col {
    width: 33.333333%;
    flex: 0 0 33.333333%
}

.sare-grid.sare-grid-4>.sare-grid-col {
    width: 25%;
    flex: 0 0 25%
}

.sare-grid.sare-grid-5>.sare-grid-col {
    width: 20%;
    flex: 0 0 20%
}

.sare-grid.sare-grid-6>.sare-grid-col {
    width: 16.666666%;
    flex: 0 0 16.666666%
}

.sare-grid.sare-grid-7>.sare-grid-col {
    width: 14.28571428571429%;
    flex: 0 0 14.28571428571429%
}

.sare-grid.sare-grid-8>.sare-grid-col {
    width: 12.5%;
    flex: 0 0 12.5%
}

.sare-grid.sare-grid-9>.sare-grid-col {
    width: 11.11111111111111%;
    flex: 0 0 11.11111111111111%
}

.sare-grid.sare-grid-10>.sare-grid-col {
    width: 10%;
    flex: 0 0 10%
}

.sare-grid.sare-percent-grid-1>.sare-grid-col {
    flex: 0 0 8.33333%;
    width: 8.33333%
}

.sare-grid.sare-percent-grid-2>.sare-grid-col {
    flex: 0 0 16.66667%;
    width: 16.66667%
}

.sare-grid.sare-percent-grid-3>.sare-grid-col {
    flex: 0 0 25%;
    width: 25%
}

.sare-grid.sare-percent-grid-4>.sare-grid-col {
    flex: 0 0 33.33333%;
    width: 33.33333%
}

.sare-grid.sare-percent-grid-5>.sare-grid-col {
    flex: 0 0 41.66667%;
    width: 41.66667%
}

.sare-grid.sare-percent-grid-6>.sare-grid-col {
    flex: 0 0 50%;
    width: 50%
}

.sare-grid.sare-percent-grid-7>.sare-grid-col {
    flex: 0 0 58.33333%;
    width: 58.33333%
}

.sare-grid.sare-percent-grid-8>.sare-grid-col {
    flex: 0 0 66.66667%;
    width: 66.66667%
}

.sare-grid.sare-percent-grid-9>.sare-grid-col {
    flex: 0 0 75%;
    width: 75%
}

.sare-grid.sare-percent-grid-10>.sare-grid-col {
    flex: 0 0 83.33333%;
    width: 83.33333%
}

.sare-grid.sare-percent-grid-11>.sare-grid-col {
    flex: 0 0 91.66667%;
    width: 91.66667%
}

.sare-grid.sare-percent-grid-12>.sare-grid-col {
    flex: 0 0 100%;
    width: 100%
}

.sare-grid.sare-grid-auto>.sare-grid-col {
    width: auto;
    flex: auto
}

.sare-grid>.sare-grid-col.sare-grid-col-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%
}

.sare-grid>.sare-grid-col.sare-grid-col-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%
}

.sare-grid>.sare-grid-col.sare-grid-col-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

.sare-grid>.sare-grid-col.sare-grid-col-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%
}

.sare-grid>.sare-grid-col.sare-grid-col-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%
}

.sare-grid>.sare-grid-col.sare-grid-col-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.sare-grid>.sare-grid-col.sare-grid-col-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%
}

.sare-grid>.sare-grid-col.sare-grid-col-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%
}

.sare-grid>.sare-grid-col.sare-grid-col-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
}

.sare-grid>.sare-grid-col.sare-grid-col-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%
}

.sare-grid>.sare-grid-col.sare-grid-col-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%
}

.sare-grid>.sare-grid-col.sare-grid-col-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

.sare-grid.sare-spacing-0 {
    margin: 0
}

.sare-grid.sare-spacing-5 {
    margin: -5px
}

.sare-grid.sare-spacing-10 {
    margin: -10px
}

.sare-grid.sare-spacing-15 {
    margin: -15px
}

.sare-grid.sare-spacing-20 {
    margin: -20px
}

.sare-grid.sare-spacing-25 {
    margin: -25px
}

.sare-grid.sare-spacing-30 {
    margin: -30px
}

.sare-grid.sare-spacing-35 {
    margin: -35px
}

.sare-grid.sare-spacing-40 {
    margin: -40px
}

.sare-grid.sare-spacing-45 {
    margin: -45px
}

.sare-grid.sare-spacing-50 {
    margin: -50px
}

.sare-grid.sare-spacing-55 {
    margin: -55px
}

.sare-grid.sare-spacing-60 {
    margin: -60px
}

.sare-grid.sare-spacing-0>.sare-grid-col {
    padding: 0
}

.sare-grid.sare-spacing-5>.sare-grid-col {
    padding: 5px
}

.sare-grid.sare-spacing-10>.sare-grid-col {
    padding: 10px
}

.sare-grid.sare-spacing-15>.sare-grid-col {
    padding: 15px
}

.sare-grid.sare-spacing-20>.sare-grid-col {
    padding: 20px
}

.sare-grid.sare-spacing-25>.sare-grid-col {
    padding: 25px
}

.sare-grid.sare-spacing-30>.sare-grid-col {
    padding: 30px
}

.sare-grid.sare-spacing-35>.sare-grid-col {
    padding: 35px
}

.sare-grid.sare-spacing-40>.sare-grid-col {
    padding: 40px
}

.sare-grid.sare-spacing-45>.sare-grid-col {
    padding: 45px
}

.sare-grid.sare-spacing-50>.sare-grid-col {
    padding: 50px
}

.sare-grid.sare-spacing-55>.sare-grid-col {
    padding: 55px
}

.sare-grid.sare-spacing-60>.sare-grid-col {
    padding: 60px
}

@media(max-width:1199px) {
    .sare-grid.sare-grid-10>.sare-grid-col,
    .sare-grid.sare-grid-4>.sare-grid-col,
    .sare-grid.sare-grid-5>.sare-grid-col,
    .sare-grid.sare-grid-6>.sare-grid-col,
    .sare-grid.sare-grid-7>.sare-grid-col,
    .sare-grid.sare-grid-8>.sare-grid-col,
    .sare-grid.sare-grid-9>.sare-grid-col,
    .sare-grid.sare-grid-auto>.sare-grid-col,
    .sare-grid.sare-percent-grid-10>.sare-grid-col,
    .sare-grid.sare-percent-grid-11>.sare-grid-col,
    .sare-grid.sare-percent-grid-12>.sare-grid-col,
    .sare-grid.sare-percent-grid-4>.sare-grid-col,
    .sare-grid.sare-percent-grid-5>.sare-grid-col,
    .sare-grid.sare-percent-grid-6>.sare-grid-col,
    .sare-grid.sare-percent-grid-7>.sare-grid-col,
    .sare-grid.sare-percent-grid-8>.sare-grid-col,
    .sare-grid.sare-percent-grid-9>.sare-grid-col,
    .sare-grid>.sare-grid-col.sare-grid-col-1,
    .sare-grid>.sare-grid-col.sare-grid-col-2,
    .sare-grid>.sare-grid-col.sare-grid-col-3,
    .sare-grid>.sare-grid-col.sare-grid-col-4 {
        max-width: 33.333333%;
        width: 33.333333%;
        flex: 0 0 33.333333%
    }
}

@media(max-width:991px) {
    .sare-grid.sare-grid-10>.sare-grid-col,
    .sare-grid.sare-grid-3>.sare-grid-col,
    .sare-grid.sare-grid-4>.sare-grid-col,
    .sare-grid.sare-grid-5>.sare-grid-col,
    .sare-grid.sare-grid-6>.sare-grid-col,
    .sare-grid.sare-grid-7>.sare-grid-col,
    .sare-grid.sare-grid-8>.sare-grid-col,
    .sare-grid.sare-grid-9>.sare-grid-col,
    .sare-grid.sare-grid-auto>.sare-grid-col,
    .sare-grid.sare-percent-grid-10>.sare-grid-col,
    .sare-grid.sare-percent-grid-11>.sare-grid-col,
    .sare-grid.sare-percent-grid-12>.sare-grid-col,
    .sare-grid.sare-percent-grid-3>.sare-grid-col,
    .sare-grid.sare-percent-grid-4>.sare-grid-col,
    .sare-grid.sare-percent-grid-5>.sare-grid-col,
    .sare-grid.sare-percent-grid-6>.sare-grid-col,
    .sare-grid.sare-percent-grid-7>.sare-grid-col,
    .sare-grid.sare-percent-grid-8>.sare-grid-col,
    .sare-grid.sare-percent-grid-9>.sare-grid-col,
    .sare-grid>.sare-grid-col.sare-grid-col-1,
    .sare-grid>.sare-grid-col.sare-grid-col-10,
    .sare-grid>.sare-grid-col.sare-grid-col-11,
    .sare-grid>.sare-grid-col.sare-grid-col-2,
    .sare-grid>.sare-grid-col.sare-grid-col-3,
    .sare-grid>.sare-grid-col.sare-grid-col-4,
    .sare-grid>.sare-grid-col.sare-grid-col-5,
    .sare-grid>.sare-grid-col.sare-grid-col-6,
    .sare-grid>.sare-grid-col.sare-grid-col-7,
    .sare-grid>.sare-grid-col.sare-grid-col-8,
    .sare-grid>.sare-grid-col.sare-grid-col-9,
    s .sare-grid>.sare-grid-col.sare-grid-col-12 {
        max-width: 50%;
        width: 50%;
        flex: 0 0 50%
    }
}

@media(max-width:767px) {
    .sare-grid.sare-grid-10>.sare-grid-col,
    .sare-grid.sare-grid-1>.sare-grid-col,
    .sare-grid.sare-grid-2>.sare-grid-col,
    .sare-grid.sare-grid-3>.sare-grid-col,
    .sare-grid.sare-grid-4>.sare-grid-col,
    .sare-grid.sare-grid-5>.sare-grid-col,
    .sare-grid.sare-grid-6>.sare-grid-col,
    .sare-grid.sare-grid-7>.sare-grid-col,
    .sare-grid.sare-grid-8>.sare-grid-col,
    .sare-grid.sare-grid-9>.sare-grid-col,
    .sare-grid.sare-grid-auto>.sare-grid-col,
    .sare-grid.sare-percent-grid-10>.sare-grid-col,
    .sare-grid.sare-percent-grid-11>.sare-grid-col,
    .sare-grid.sare-percent-grid-12>.sare-grid-col,
    .sare-grid.sare-percent-grid-1>.sare-grid-col,
    .sare-grid.sare-percent-grid-2>.sare-grid-col,
    .sare-grid.sare-percent-grid-3>.sare-grid-col,
    .sare-grid.sare-percent-grid-4>.sare-grid-col,
    .sare-grid.sare-percent-grid-5>.sare-grid-col,
    .sare-grid.sare-percent-grid-6>.sare-grid-col,
    .sare-grid.sare-percent-grid-7>.sare-grid-col,
    .sare-grid.sare-percent-grid-8>.sare-grid-col,
    .sare-grid.sare-percent-grid-9>.sare-grid-col,
    .sare-grid>.sare-grid-col.sare-grid-col-1,
    .sare-grid>.sare-grid-col.sare-grid-col-10,
    .sare-grid>.sare-grid-col.sare-grid-col-11,
    .sare-grid>.sare-grid-col.sare-grid-col-12,
    .sare-grid>.sare-grid-col.sare-grid-col-2,
    .sare-grid>.sare-grid-col.sare-grid-col-3,
    .sare-grid>.sare-grid-col.sare-grid-col-4,
    .sare-grid>.sare-grid-col.sare-grid-col-5,
    .sare-grid>.sare-grid-col.sare-grid-col-6,
    .sare-grid>.sare-grid-col.sare-grid-col-7,
    .sare-grid>.sare-grid-col.sare-grid-col-8,
    .sare-grid>.sare-grid-col.sare-grid-col-9 {
        max-width: 100%;
        width: 100%;
        flex: 0 0 100%
    }
    .sare-grid.sare-spacing-35,
    .sare-grid.sare-spacing-40,
    .sare-grid.sare-spacing-45,
    .sare-grid.sare-spacing-50,
    .sare-grid.sare-spacing-55,
    .sare-grid.sare-spacing-60 {
        margin: -30px
    }
    .sare-grid.sare-spacing-35>.sare-grid-col,
    .sare-grid.sare-spacing-40>.sare-grid-col,
    .sare-grid.sare-spacing-45>.sare-grid-col,
    .sare-grid.sare-spacing-50>.sare-grid-col,
    .sare-grid.sare-spacing-55>.sare-grid-col,
    .sare-grid.sare-spacing-60>.sare-grid-col {
        padding: 30px
    }
}

.sare-pt-10 {
    padding-top: 10px;
}

.sare-pt-20 {
    padding-top: 20px;
}

.sare-pt-30 {
    padding-top: 30px;
}

.sare-pt-40 {
    padding-top: 40px;
}

.sare-pt-50 {
    padding-top: 50px;
}

.sare-pt-60 {
    padding-top: 60px;
}

.sare-pt-70 {
    padding-top: 70px;
}

.sare-pt-80 {
    padding-top: 80px;
}

.sare-pt-90 {
    padding-top: 90px;
}

.sare-pt-100 {
    padding-top: 100px;
}

.sare-pb-10 {
    padding-bottom: 10px;
}

.sare-pb-20 {
    padding-bottom: 20px;
}

.sare-pb-30 {
    padding-bottom: 30px;
}

.sare-pb-40 {
    padding-bottom: 40px;
}

.sare-pb-50 {
    padding-bottom: 50px;
}

.sare-pb-60 {
    padding-bottom: 60px;
}

.sare-pb-70 {
    padding-bottom: 70px;
}

.sare-pb-80 {
    padding-bottom: 80px;
}

.sare-pb-90 {
    padding-bottom: 90px;
}

.sare-pb-100 {
    padding-bottom: 100px;
}

.sare-mt-10 {
    margin-top: 10px;
}

.sare-mt-20 {
    margin-top: 20px;
}

.sare-mt-30 {
    margin-top: 30px;
}

.sare-mt-40 {
    margin-top: 40px;
}

.sare-mt-50 {
    margin-top: 50px;
}

.sare-mt-60 {
    margin-top: 60px;
}

.sare-mt-70 {
    margin-top: 70px;
}

.sare-mt-80 {
    margin-top: 80px;
}

.sare-mt-90 {
    margin-top: 90px;
}

.sare-mt-100 {
    margin-top: 100px;
}

.sare-mb-10 {
    margin-bottom: 10px;
}

.sare-mb-20 {
    margin-bottom: 20px;
}

.sare-mb-30 {
    margin-bottom: 30px;
}

.sare-mb-40 {
    margin-bottom: 40px;
}

.sare-mb-50 {
    margin-bottom: 50px;
}

.sare-mb-60 {
    margin-bottom: 60px;
}

.sare-mb-70 {
    margin-bottom: 70px;
}

.sare-mb-80 {
    margin-bottom: 80px;
}

.sare-mb-90 {
    margin-bottom: 90px;
}

.sare-mb-100 {
    margin-bottom: 100px;
}

.mr-auto,
.mx-auto {
    margin-right: auto !important;
}

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}

.sare-img {
    width: 100%;
    height: auto;
}